.parent {
    background-color: rgb(194, 194, 194);
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr;
   gap: 1rem;
   
   
   
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 3; }
    .div2 { grid-area: 1 / 3 / 2 / 4; }
    .div3 { grid-area: 1 / 4 / 2 / 5; }
    .div4 { grid-area: 1 / 5 / 2 / 6; }
    .div5 { grid-area: 1 / 6 / 2 / 7; }
    .div6 { grid-area: 1 / 7 / 2 / 8; }
    .div7 { grid-area: 1 / 8 / 2 / 10; 
        text-align: center;}  
    .b1{
margin-top: 15px;
height: 2rem;
background-color: rgb(199, 199, 255);
    }
    .b2
    {margin-top: 15px;
        height: 2rem;
        background-color: rgb(132, 118, 255);
    }
    .iman{
margin-top: 7px;
margin-left: 5px;
        height: 3rem;
        
    }

    .Container {    
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(6, 1fr);
        background-color: bisque;
        margin-left: 5rem;
        margin-top: 1rem;
        margin-right: 5rem;
        gap: 1rem;
        
        
       
        }
        
        .diva { grid-area: 1 / 3 / 2 / 5; }
        .divb { grid-area: 2 / 3 / 3 / 5; }
        .divc { grid-area: 3 / 3 / 4 / 4; 
                margin-top: -12rem;}
        .divd { grid-area: 3 / 4 / 4 / 5; 
                margin-top: -12rem;}
        .dive { grid-area: 1 / 5 / 4 / 7; }

    .hh
    {
        
       width: 31rem;
       margin-top: 1rem;
    }